<!DOCTYPE html>
<html xmlns:th="https://www,thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Assign Student To Course</h1>
	<form th:action="@{/assignEquipmentToStore}" method="post">
		Student: <select name="equipment">
			<option th:each="equ : ${equipment}" th:value="${equ.name}" th:text="${equ.name}">
		</select><br/>
		
		Course: <select name="store">
			<option th:each="sto : ${stores}" th:value="${sto.id}" th:text="${sto.name}">
		</select><br/>
		<input type="submit" value="Assign Equipment" />
	</form>
	<a th:href="@{/}">Go Home</a>
</body>
</html>