<!DOCTYPE html>
<html xmlns:th="https://www,thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<h1>Home Page</h1>
<div sec:authorize="isAuthenticated()">
		User's Name: <span sec:authentication="name"></span>
		<br>
		Roles: <span sec:authentication="principal.authorities"></span>
		<br>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Logout">
		</form>
	</div>
	<a th:href="@{/addEquipment}">Add Equipment</a><br>
	<a th:href="@{/addStore}">Add Store</a><br>
	<a th:href="@{/assignEquipmentToStore}">Assign equipment to a store</a><br>
	<a th:href="@{/viewStore}">View Store</a><br>
	<a th:href="@{/search}">Search Equipment</a>
</body>
</html>