<!DOCTYPE html>
<html xmlns:th="https://www,thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>View By Course</h1>
	<form th:action="@{/viewStore}" method="post">
		Course: <select name="store">
			<option th:each="sto : ${stores}" th:value="${sto.id}"	th:text="${sto.name}">
		</select><br/>
		 <input type="submit" value="View Store">
	</form>
	<br>
	<br>
	<div th:if="${store != null}">
		<h1 th:text="'Store Name:'+${store.name}"></h1>
		<h3>Store Inventory</h3>
	<table border="1">

		<tr>
		
		<th>Name</th>
		<th>Price</th>
		<th>Quantity</th>
		
		</tr>
		
		<tr th:each="equ : ${store.equipment}">
		<td th:text="${equ.name}"></td>
		<td th:text="${equ.price}"></td>
		<td th:text="${equ.quantity}"></td>
		<td><a th:href="@{/delete/{id}(id=${equ.id})}">DELETE</a></td>
		</tr>
		
		</table>
		<br>
	</div>
	<br>
	
	<a th:href="@{/}">Go Home</a>
</body>
</html>